* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 14px;
}

form {
  text-align: center;
  margin: 25px auto;
}

input {
  border: none;
  border-radius: 4px;
  width: 180px;
}

input:focus {
  outline: 0;
}

a {
  transition: all 200ms ease-in-out;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}

button {
  background: none;
  border: none;
  cursor: text;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

button:focus {
  outline: 0;
}

.container {
  max-width: 400px;
  margin: 10px auto;
  padding: 2rem 2rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #ffffff;
}

.container.light {
  background: #2c90e2;
}

.container.dark {
  background: #101048;
}

.units button {
  cursor: default;
}

.container.light button.active {
  cursor: pointer;
  color: #101048;
}

.container.dark button.active {
  cursor: pointer;
  color: #2c90e2;
}

.container.light a {
  color: #101048;
}

.container.dark a {
  color: #2c90e2;
}

.col-1 {
  padding: 0;
}

.now-card {
  text-align: center;
  background: none;
  border: none;
}

.card-body {
  padding: 5px 15px 15px;
}

.card-body .icon {
  padding: 10px;
}

.units {
  position: relative;
  font-size: 14px;
  top: -10px;
}

.card-description {
  margin: 5px 50px 30px;
}

.card-description .col-3 {
  padding: 0 5px;
}

.card-description .col-3.description {
  padding: 0;
}

.card-deck .card {
  margin: 10px 10px 20px;
  font-size: 14px;
  text-align: center;
  background: none;
  border: none;
}

.card-deck .card .card-body {
  padding: 0px;
}

.card-deck .card .icon {
  padding: 0 4px 4px;
}

.transparent {
  color: rgba(256, 256, 256, 0.5);
}

.footer {
  display: block;
  text-align: center;
}

#weather-description {
  text-transform: capitalize;
}
