* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 48px;
}

small {
  display: block;
  text-align: center;
}

form {
  text-align: center;
  margin: 2rem auto 1rem;
}

input {
  border: none;
  border-radius: px;
}

input:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: text;
  color: #ffffff;
}

button:focus {
  outline: 0;
}

.container {
  max-width: 450px;
  margin: 10px auto;
  padding: 2rem 3rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #ffffff;
}

.container.light {
  background: #2c90e2;
}

.container.dark {
  background: #101048;
}

.container.light button.active {
  cursor: pointer;
  /*color: #1804cf;*/
  color: #101048;
}

.container.dark button.active {
  cursor: pointer;
  color: #2c90e2;
}

.container.light a {
  color: #101048;
}

.container.dark a {
  color: #2c90e2;
}

.now-card {
  margin-bottom: 0;
  text-align: center;
  background: none;
  border: none;
}

.card-deck .card {
  margin: 10px 10px 15px;
  text-align: center;
  background: none;
  border: none;
}

.card-deck .card .card-body {
  padding: 0px;
}

.units {
  position: absolute;
  font-size: 16px;
  top: 220px;
  margin-left: 8px;
}

.min {
  color: rgba(256, 256, 256, 0.5);
}

#weather-description {
  text-transform: capitalize;
}
